<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}title not defined{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
            <style type="text/css">
                .ui.secondary.pointing.menu{
                    margin: 10px;
                    background: white;
                }

                .ui.fixed.sticky + p {
                    margin-top: 10px;

                }

                body{
                    background: darkslategray;
                }

                .terminal{
                }

            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
